################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fizzbuzz
/fizzbuzz/bin/Debug
/fizzbuzz/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/fizzbuzz/obj/Debug
/fizzbuzz/obj
